Maximilian Björn Schumacher <br>
Birthday: 31.10.1991 <br>

The information below was last verified on: <br>
verified by: <br>

My blood type is: <br>

0
Rh (D) neg
ccddee

Allergies: None

my emergency contact is:

Medication I take regularly: none



