::selection {
  background-color: #00c4a7;
}

html {
  display: flex;
  justify-content: center;
  scrollbar-color: black white;
  scrollbar-width: thick;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 35%;
  padding-left: 35%;
}

@media screen and (max-width: 760px) {
  body {
    width: 100vw;
    margin: 3%;
    padding: 3%;
  }
}

img {
  display: flex;
  align-self: center;
  width: 100%;
  max-width: 100%;
  height: auto;
}
